<footer>
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark dark">
    <div class="container">
      <div class="ubication">
        <b>Ubicación</b>
        <h5>Villahermosa, Tabaco. México</h5>
      </div>
      <div class="networks col-3">
        <a href="http://facebook.com/mgsus"><fa-icon class="gross" [icon]="facebook"></fa-icon></a>
        <a href="https://twitter.com/mike_gsuss"><fa-icon [icon]="twitter"></fa-icon></a>
        <a href="https://www.instagram.com/mikegsus_/"><fa-icon [icon]="instagram"></fa-icon></a>
        <a href="https://www.linkedin.com/in/miguelgsus/"><fa-icon [icon]="linkedin"></fa-icon></a>
      </div>
    </div>
  </nav>
</footer>
