<footer>
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark dark">
    <div class="container">
      <div class="ubication">
        <b>Ubicación</b>
        <h5>Villahermosa, Tabaco. México</h5>
      </div>
      <div class="networks">
        <a href="http://facebook.com/mgsus"><i>facebook</i></a>
        <a href="https://twitter.com/mike_gsuss"><i>twitter</i></a>
        <a href="https://www.instagram.com/mikegsus_/"><i>instagram</i></a>
        <a href="https://www.linkedin.com/in/miguelgsus/"><i>linkedin</i></a>
      </div>
    </div>
  </nav>
</footer>
