<section class="page-section secondary text-white" id="about">
	<div class="container">
		<h2 class="page-section-heading text-center text-uppercase mb-3">
			Sobre mí
		</h2>
		<div class="row">
			<div class="col-lg-4 ml-auto">
				<p class="lead">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, placeat? Mollitia, blanditiis! Ad deserunt optio esse dignissimos ullam quo dolorem repellat dolor voluptatibus quod, aut placeat possimus perferendis, laborum debitis?
				</p>
			</div>
			<div class="col-lg-4 mr-auto">
				<p class="lead">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, placeat? Mollitia, blanditiis! Ad deserunt optio esse dignissimos ullam quo dolorem repellat dolor voluptatibus quod, aut placeat possimus perferendis, laborum debitis?
				</p>
			</div>
		</div>
	</div>
</section>
