.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

#about {
  margin-bottom: 50px;
}

.secondary {
  color: #ffffff;
}

a.secondary:hover {
  color: #79AADB;
  background: #ffffff;
}