@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-rgb: 44, 62, 80;
  --secondary-rgb: 121, 170, 219;
  --darkest-rgb: 29, 42, 54;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-primary {
  background-color: rgb(var(--primary-rgb));
}

.bg-secondary, .hover\:bg-secondary:hover, .\*\:hover\:bg-secondary:hover > * {
  background-color: rgb(var(--secondary-rgb));
}

.bg-darkest {
  background-color: rgb(var(--darkest-rgb));
}

.border-primary, .active\:border-primary:active {
  border-color: rgb(var(--primary-rgb));
}

.border-secondary, .\*\:border-secondary > * {
  border-color: rgb(var(--secondary-rgb));
}

.border-darkest {
  border-color: rgb(var(--darkest-rgb));
}


.text-primary {
  color: rgb(var(--primary-rgb));
}

.text-secondary {
  color: rgb(var(--secondary-rgb));
}