<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="details">
      <div class="modal-header">
        <h4 class="modal-title" id="projectModalLabel">{{ details.name }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mx-auto text-justify p-5">
          <img src="{{ details.src }}" alt="{{ details.name }}" class="mb-4">
          <p>
            {{ details.description }}
          </p>
          <h5>Tecnología usada:</h5>
          <ul class="mb-3">
            <li *ngFor="let tech of details.technologies">{{ tech }}</li>
          </ul>
          <div class="row">
            <div class="col-4">
              <a class="btn text-center" href="https://{{ details.url }}" target="_blank" rel="noopener noreferrer"><span>{{ details.name }}</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>