/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/* Reset CSS =============================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset CSS ends ========================================================= */

:root {
  --primary: #2C3E50 !important;
  --secondary: #79AADB !important;
  --success: #28a745 !important;
  --info: #56799C !important;
  --warning: #ffc107 !important;
  --danger: #dc3545 !important;
  --light: #f8f9fa !important;
  --dark: #1D2A36 !important;
}

/* Color Theme Swatches in Hex */
.secondary {
	background: #79AADB;
	color: #FFFFFF;
}
.info {
	background: #56799C;
	color: #FFFFFF;
}
.primary {
	background: #2C3E50;
	color: #FFFFFF;
}
.dark {
	background: #1D2A36;
	color: #FFFFFF;
}

.text-secondary {
	color: #79AADB !important;
}
.text-info {
	color: #56799C !important;
}
.text-primary {
	color: #2C3E50 !important;
}
.text-dark {
	color: #1D2A36 !important;
}

body {
	min-width: 100vw;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, a, thead, th, .title {
	font-family: 'Roboto', sans-serif;
}

html, body, div, span, applet, object, iframe, 
p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table,
caption, tbody, tfoot, tr, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: 'Open Sans', sans-serif;
}


@media (min-width: 992px) {
	.page-section .page-section-heading {
		font-size: 3rem;
		line-height: 2.5rem;
	}
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}

.page-section {
  padding: 6rem 0;
}