<header class="masthead secondary text-white text-center" id="home">
  <div class="container d-flex align-items-center flex-column">
    <img class="masthead-avatar mb-5" src="../../assets/img/jpg/avatar.jpg" alt="Avatar">
    <h1 class="masthead-heading text-uppercase mb-0">Miguel ángel hidalgo jesús</h1>
    <p class="masthead-subheading font-weight-light mb-0">
      JS Full Stack Developer <a href="#" class="icon"><fa-icon class="gross" [icon]="js"></fa-icon></a> - Python Lover <a href="#" class="icon"><fa-icon class="gross" [icon]="py"></fa-icon></a> - Apprentice & Thinker <a href="#" class="icon"><fa-icon class="gross" [icon]="dev"></fa-icon></a>
    </p>
  </div>
</header>